@model IList<GeneralSettings.Iteration>

@using AskGenerator.Business.Entities.Settings;
<table>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => m[i].Id)
                    @Html.HiddenFor(m => m[i].UniqueUsersCount)
                    @Html.EditorFor(m => m[i].Name)
                </td>
                <td>@Html.TextBoxFor(m => m[i].Start, new { @class = "date" })</td>
                <td>@Html.TextBoxFor(m => m[i].End, new { @class = "date" })</td>
            </tr>
        }
    </tbody>
</table>