<!-- left, vertical navbar -->

<ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
    @Html.MenuRouteItem(Resources.Resource.Students, "student/list")
    @Html.MenuItem(Resources.Resource.Departments, "List", "Team", null, area: "Admin")
    @Html.MenuRouteItem(@Resources.Resource.Teachers, "teacher/list")
    @Html.MenuRouteItem(@Resources.Resource.Groups, "group/list")
    @Html.MenuRouteItem(@Resources.Resource.QuestionBody, "question/list")
    <li><hr /></li>
    @Html.MenuRouteItem(@Resources.Resource.QuestionAbTeacher, "questionAT/list")
    @*@Html.MenuItem("Statistics (Charts)", "Index", "Statistics")
        @Html.MenuItem("Forms", "Index", "Forms")
        @Html.MenuItem("Tables", "Index", "Tables")
        @Html.MenuItem("Buttons &amp; Icons", "Index", "Buttons")
        @Html.MenuItem(" WYSIWYG Editors", "Index", "Editors")
        @Html.MenuItem(" UI &amp; Interface", "Index", "Interface")*@
</ul>