<!-- left, vertical navbar -->

<ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
    
    @Html.MenuItem(Resources.Resource.Departments, "List", "Team", area: "Admin")
    @Html.MenuRouteItem(@Resources.Resource.Teachers, "teacher/list")
    @Html.MenuRouteItem(@Resources.Resource.QuestionAbTeacher, "questionAT/list")
    <li><hr /></li>
    @Html.MenuRouteItem(@Resources.Resource.Groups, "group/list")
    @Html.MenuRouteItem(Resources.Resource.Students, "student/list")
</ul>