@model BoardViewModel
@using AskGenerator.ViewModels
@using AskGenerator.Business.Entities
@{
    ViewBag.Title = @Resources.Resource.TeacherBoard;
}

<div class="col-md-offset-1 col-md-11" style="border-radius: 20px; background-color: rgb(211, 207, 207); padding-bottom: 7px;">
    <div>
        <span class="h1" style="color:red;">Увага!</span>
        <span class="h3">З технічних причин резуьтати гососування до <time>14.03 18:23</time> могли бути втрачені.</span>
    </div>
    <span class="h4" style="top: 5px;">Будь ласка, перевірте свої @Html.RouteLink("голоси", "Vote").</span>
</div>
<h1 class="col-sm-offset-1 col-md-5">@Resources.Resource.TeacherBoard</h1>
<h3 class="col-md-6">За результатами голосування @Model.UniqueUsers студентів</h3>

<section id="legend" class="row">
    @foreach (var pair in Model.Badges)
    {
        @Badge(pair.Value)
    }
</section>
<section id="teacherBoard" class="row" data-src="@Url.Action("Board")">
    <div id="loader" class="popover"></div>
</section>
<article id="details-popover" hidden="hidden">
    <table>
        <tbody>
            @foreach (var q in Model.Questions)
            {
                var id = q.Key + 'm';
                <tr>
                    <td>@q.Value</td>
                    <td id="@id"></td>
                </tr>
            }
        </tbody>
    </table>
</article>

@section Scripts{
    <script>
        Pages.Board.init();
    </script>
}

@helper Badge(LimitViewModel badge)
{
    <div class="col-xs-3 col-md-2 col-lg-1 thumbnail">
        <img src="@badge.Image" data-toggle="tooltip" title="@badge.ToolTip.TrimEnd('?')" />
        <div class="caption">
            @if (badge.Description.EndsWith("?"))
            {
                @badge.Description.TrimEnd('?')
                @Popover(badge)
            }
            else
            {
                @badge.Description
            }
        </div>
    </div>
}

@helper Popover(LimitViewModel badge)
{
    var q = Model.Questions.GetOrDefault(badge.Id);
    if (q != null)
    {
        <a href="#" class="help" type="button" data-toggle="popover" data-content="@q">
            ?
        </a>
    }
}