@{
    ViewBag.Title = @Resource.Voting;
}

@Scripts.Render("~/bundles/angular")
@Html.AntiForgeryToken()
<div ng-app="TeachersVote" id="TeachersVote">
    <div ng-view id="view" class="container loading popover">
    </div>
    <div class="no-teachers" style="display:none;">
        <h2>Вибачте, для вашої групи викладачів не зареєстровано.</h2>
        <h4>
            Якщо ви впевнені, що у вас є викладачі, які викладали в минулому семестрі,
            зверніться до адміністратора сайту.
        </h4>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/models")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/bundles/controllers")
}