@{
    ViewBag.Title = @Resources.Resource.IndexHeader;
}


@Scripts.Render("~/Scripts/angular/angular.min.js")
@Scripts.Render("~/Scripts/angular/angular-route.min.js")
<div ng-app="TeachersVote">
    <div ng-view id="view" class="container loading popover">
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/models")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/bundles/controllers")
}