@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-title="@ViewBag.Title">@ViewBag.Title - @Resources.Resource.Generator</title>
    @Styles.Render("~/Content/Theme")
    @Styles.Render("~/Content/Vendors")
    @Styles.Render("~/Css/select2.css")
    @Styles.Render("~/Css/Site.css")
    @RenderSection("Styles", required: false)
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet" />
</head>
@{
    var bdClass = ViewBag.BodyClass ?? string.Empty;
}
<body class="@bdClass">
    @RenderSection("GTM", false)
    @RenderSection("NavBar", required: false)

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Footer", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/select2.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("Scripts", required: false)
</body>
</html>