@using System.Web.Optimization
@{
    Layout = "_Base.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/FE.css")
}

@section NavBar{
    <header class="container navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        @*Brand and toggle get grouped for better mobile display*@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">@Resource.Generator</a>
        </div>

        @*Collect the nav links, forms, and other content for toggling*@
        <nav class="collapse navbar-collapse main-navbar-collapse col-sm-pull-1" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                @Html.MenuRouteItem(Resource.Board, "Board")
                @Html.MenuRouteItem(Resource.VotePage, "Vote")
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header>
}

<div class="col-xs-12">
    @RenderBody()
</div>

@section Footer{
    <footer class="main-footer">
        @Footer()
    </footer>
}

@section Scripts{
    @Scripts.Render("~/Scripts/controls.js")
    @Scripts.Render("~/bundles/pages")
    @RenderSection("Scripts", required: false)
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=uk"
            async defer>
    </script>
}

@helper Footer() {
    <ul>
        <li>
            <p class="reachus">@Resource.AboutUs</p>
            <ul>
                <li>@Resource.mail</li>
                <li><a href="https://vk.com/semka148">@Resource.vk</a></li>
                <li><a href="https://www.facebook.com/semka148">@Resource.facebook</a></li>
                <li>@Resource.phone</li>
            </ul>
        </li>
        <li>
            <p class="home">@Resource.workforyou</p>
            <button ID="toTop" class="up"></button>
            <a class="logo" href="http://nom-networkofmentors.rhcloud.com/about">@Resource.nom <i>&copy; 2016 - @DateTime.Now.Year</i></a>
        </li>
    </ul>
}