@model  AskGenerator.Mvc.ViewModels.TeamViewModel
@{

    string legend;
    if(IsEditing){
        ViewBag.Title = Resource.OldDepartment;
        legend = Resource.EditDepartment;
    }
    else{
        ViewBag.Title = Resource.NewDepartment;
        legend = Resource.CreateDepartment;
    }
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <header class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">@Resource.Department</div>
            </header>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(x => x.Id)
                    <fieldset>
                        <legend>@legend</legend>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "col-lg-3 control-label" })
                            <div class="col-lg-9">
                                @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="btn-group col-lg-offset-3 col-lg-9">
                                @Html.SubmitBtn(Resource.Save)
                                @Html.ClearBtn(Resource.Clean)
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>