@model GeneralSettingsModel

@using AskGenerator.Mvc.ViewModels.Settings;           
@{
    ViewBag.Title = "General";
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">General settings</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form method="post" class="form-horizontal">
                    <fieldset>
                        <legend>@ViewBag.Title</legend>
                        @Html.EditorForModel()
                        @Html.EditorFor(m => m.Iterations, "Iterations")
                        <button type="submit" class="btn btn-primary">@Resources.Resource.Save</button>
                        <button type="reset" class="btn btn-default">@Resources.Resource.Clean</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        Pages.Settings.initGeneral()
    </script>
}