@model AskGenerator.Mvc.ViewModels.Settings.WebsiteSettingsModel
@{
    ViewBag.Title = "Website";
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Website settings</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form method="post" class="form-horizontal">
                    <fieldset>
                        <legend>@ViewBag.Title</legend>
                        @Html.EditorForModel()
                        @Html.EditorFor(m => Model.TimeBanner)

                        @Html.SubmitBtn(Resources.Resource.Save)
                        @Html.ClearBtn(Resources.Resource.Clean)
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

