@model  IList<AskGenerator.ViewModels.GroupViewModel>

@{
    ViewBag.Title = @Resources.Resource.ListGroup;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title"><a href="@Url.Action("Create", "Group")">@Resources.Resource.AddGroup</a></div>
        </div>
        <div class="bootstrap-admin-panel-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Resources.Resource.GroupName</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.OrderBy(x => x.Name))
                    {
                        <tr>
                            <td class="line-key">@group.Name</td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "Group", new {id=group.Id})">@Resources.Resource.Edit</a>
                                <a class="btn btn-danger delete" data-id="@group.Id" href="@Url.Action("Delete", "Group", new {id=group.Id})">@Resources.Resource.Remove</a
                            </td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>
