@model  AskGenerator.ViewModels.TeacherComposeViewModel
@{
    string legend;
    if(IsEditing){
        ViewBag.Title = @Resources.Resource.OldTeacher;
        legend = @Resources.Resource.EditTeacher;
    }
    else{
        ViewBag.Title = @Resources.Resource.NewTeacher;
        legend = @Resources.Resource.CreatreTeacher;
    }
    var maxSize = "100px";
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">@Resources.Resource.Teacher</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(x => x.Teacher.Id)
                    <fieldset>
                        <legend>@legend</legend>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.FirstName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Teacher.FirstName, htmlAttributes: new { @clas = "form-control" })
                                @Html.ValidationMessageFor(x => x.Teacher.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.LastName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Teacher.LastName, htmlAttributes: new { @clas = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.SelectedGroups, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.ListBoxFor(x => x.Teacher.SelectedGroups, Model.AllGroups)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.TeamId, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.DropDownListFor(x => x.Teacher.TeamId, Model.Teams)
                                @Html.ValidationMessageFor(x => x.Teacher.TeamId)
                            </div>
                        </div>

                        @if(IsEditing && !string.IsNullOrEmpty(Model.Teacher.Image)){
                            <img src="@Model.Teacher.Image" alt="@Model.Teacher.Image.Split('/').Last()" style ="float:right; max-width:@maxSize; max-height:@maxSize;"/>
                        }
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.ImageFile, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Teacher.ImageFile, new { type = "file"})
                                @Html.EditorFor(x => x.Teacher.Image)
                                @Html.ValidationMessageFor(x => x.Teacher.Image)
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.IsMale, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.EditorFor(x => x.Teacher.IsMale)
                                @Html.ValidationMessageFor(x => x.Teacher.IsMale)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="btn-group col-lg-offset-2 col-lg-10">
                                @Html.SubmitBtn(Resources.Resource.Save)
                                @Html.ClearBtn(Resources.Resource.Clean)
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#Teacher_SelectedGroups").select2({
                placeholder: "@Resources.Resource.SelectGroup",
                width: 400,
                maximumSelectionLength: 20
            });
            $('#Teacher_TeamId').select2({
                placeholder: "@Resources.Resource.SelectDepartment",
                multiple: false,
                width: 400,
                maximumSelectionLength: 20
            });
        });
    </script>
}