@model  AskGenerator.ViewModels.TeacherComposeViewModel
@{
    bool IsEditing = ViewBag.IsEditing ?? false;
    string legend;
    if(IsEditing){
        ViewBag.Title = "Старый преподаватель";
        legend = "Редактирование преподавателя";
    }
    else{
        ViewBag.Title = "Новый преподаватель";
        legend = "Создание преподавателя";
    }
    var maxSize = "100px";
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Преподаватель</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.EditorFor(x => x.Teacher.Id)
                    <fieldset>
                        <legend>@legend</legend>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.FirstName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Teacher.FirstName, htmlAttributes: new { @clas = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.LastName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Teacher.LastName, htmlAttributes: new { @clas = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.SelectedGroups, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.ListBoxFor(x => x.Teacher.SelectedGroups, Model.AllGroups)
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.TeamId, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.DropDownListFor(x => x.Teacher.TeamId, Model.Teams)
                            </div>
                        </div>

                        @if(IsEditing && !string.IsNullOrEmpty(Model.Teacher.Image)){
                            <img src="@Model.Teacher.Image" alt="@Model.Teacher.Image.Split('/').Last()" style ="float:right; max-width:@maxSize; max-height:@maxSize;"/>
                        }
                        <div class="form-group">
                            @Html.LabelFor(x => x.Teacher.ImageFile, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Teacher.ImageFile, new { type = "file"})
                                @Html.EditorFor(x => x.Teacher.Image)
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="reset" class="btn btn-default">Очистить</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Teacher_SelectedGroups").select2({
                placeholder: "Выберите группы",
                width: 400,
                maximumSelectionLength: 20
            });
            $('#Teacher_TeamId').select2({
                placeholder: "Выберите кафедру",
                multiple: false,
                width: 400,
                maximumSelectionLength: 20
            });
        });
    </script>
}