@model AskGenerator.ViewModels.LoginViewModel

<div class="form-group">
    @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "col-md-6 control-label" })
    <div class="col-md-6">
        @Html.EditorFor(x => x.Email)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "col-md-6 control-label" })
    <div class="col-md-6">
        @Html.EditorFor(x => x.Password)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.IsPersistent, htmlAttributes: new { @class = "col-md-6 control-label" })
    <div class="col-xs-1">
        @Html.EditorFor(x => x.IsPersistent)
    </div>
</div>