@model  IList<AskGenerator.ViewModels.QuestionViewModel>

@{
    Layout = null;
}
<div class="bootstrap-admin-panel-content">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Resources.Resource.QuestionBody</th>
                <th>@Resources.Resource.LowerRateDescription</th>
                <th>@Resources.Resource.HigherRateDescription</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td class="line-key">@question.QuestionBody</td>
                    <td>@question.LowerRateDescription</td>
                    <td>@question.HigherRateDescription</td>
                    <td><a class="btn btn-primary" href="@Url.Action("Edit", "Question", new {id=question.Id})">@Resource.Edit</a></td>
                    <td><a class="btn btn-danger delete" data-id="@question.Id" href="@Url.Action("Delete", "Question", new {id=question.Id})">@Resource.Remove</a></td>
                </tr>
            }                    
        </tbody>
    </table>
</div>