@model  IList<AskGenerator.ViewModels.QuestionViewModel>

@{
    Layout = null;
}
<div class="bootstrap-admin-panel-content">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Вопрос</th>
                <th>Описание нижней отметки</th>
                <th>Описание верхней отметки</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.OrderBy(x => x.QuestionBody))
            {
                <tr>
                    <td>@question.QuestionBody</td>
                    <td>@question.LowerRateDescription</td>
                    <td>@question.HigherRateDescription</td>
                    <td><a class="btn btn-primary" href="@Url.Action("Edit", "Question", new {id=question.Id})">Редактировать</a></td>
                    <td><a class="btn btn-danger delete" href="@Url.Action("Delete", "Question", new {id=question.Id})">Удалить</a></td>
                </tr>
            }                    
        </tbody>
    </table>
</div>