@model AskGenerator.ViewModels.LoginViewModel

@{
    ViewBag.Title = @Resources.Resource.LogIn;
}

<div class="col-md-offset-3 col-md-6 min-form">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">@Resources.Resource.LogIn</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend></legend>
                        @Html.ValidationSummary(true)
                        @Html.EditorForModel()
                        <div class="col-md-offset-6 col-md-6">
                            <button type="submit" class="btn btn-primary">@Resources.Resource.LogIn </button>
                            <button type="reset" class="btn btn-default">@Resources.Resource.Clean</button>
                        </div>
                    </fieldset>
            }
        </div>
    </div>
</div>
