@model AskGenerator.ViewModels.LoginViewModel
@{
    var notRegisteredText = "Якщо ви не зареєстровані і не маєте ключа, будь ласка, зверніться до адміністрації сайту.";
    ViewBag.Title = Resource.LogIn;
    Robots.KeyWords.AddRange(new string[] { "Signin", "Login", "Вхід", "Логін" });
    Robots.Description = "Вхід на сайт. Увійдіть щоб отримати можливість голосувати та доступ до кабінету." + Environment.NewLine
        + notRegisteredText;
}

<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 min-form">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
            <div class="bootstrap-admin-box-title h3">@Resources.Resource.LogIn</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            @Login(notRegisteredText)
            @KeyLogin()
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/captcha.js")
    <script>
        Pages.Login.init();
    </script>
}

@helper KeyLogin() { 
    <form method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend class="h4">@Resource.OrEnterTheKey</legend>
            <div class="form-group">
                @Html.LabelFor(x => x.Key, htmlAttributes: new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(x => x.Key)

                    <button type="submit" class="hidden-xs-initial btn btn-primary">@Resource.LogIn </button>
                    @Html.ValidationMessageFor(x => x.Key, null, htmlAttributes: new { @class = "col-xs-12" })
                </div>
            </div>
            <div class="col-md-offset-3 col-md-9" style="padding: 0">
                <div id="g-recaptcha"></div>
            </div>
            <button type="submit" class="visible-xs btn btn-primary">@Resource.LogIn </button>
        </fieldset>
    </form>
}

@helper Login(string notRegisteredText)
{ 
    <form method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend></legend>
                @Html.ValidationSummary(true)
                @Html.EditorForModel()
                <div class="col-md-offset-5 col-md-7">
                    <button type="submit" class="btn btn-primary">@Resource.LogIn </button>
                    <button type="reset" class="btn btn-default">@Resource.Clean</button>
                    @if (WebsiteSettings.RegisterOpened) {
                        @Html.ActionLink(Resource.NotRegistred, "Register")
                    }
                    else {
                        <a href="#" class="help" data-content="@notRegisteredText.">@Resource.NotRegistred</a>
                    }
                    @Html.ActionLink(Resource.forgotpassword, "ForgotPassword")
                </div>
            </fieldset>
        </form>
}