@model UserModelBase
@using System.Linq.Expressions;

@{
    ViewBag.Title = Resource.EditStudent;
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <header class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">@Resource.Student</div>
            </header>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#GroupId").select2({
                placeholder: '@Resource.SelectGroup',
                width: 400
            });
        });
    </script>
}
@*
    @helper TextBoxGroup(Expression<Func<PrivateOfficeViewModel, string>> selector, string type = "text")
    {
        <div class="form-group">
            @Html.LabelFor(selector, htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(selector, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(selector)
            </div>
        </div>
    }
*@