@model StudentViewModel
@using System.Linq.Expressions;

@{
    ViewBag.Title = @Resource.EditStudent;
    var maxSize = "100px";
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <header class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">@Resource.Student</div>
            </header>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                @using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@Resource.EditStudent</legend>
                        @Html.HiddenFor(x => x.Id)

                        @TextBoxGroup(x => x.FirstName)
                        @TextBoxGroup(x => x.LastName)

                        <div class="form-group">
                            @Html.LabelFor(x => x.GroupId, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.EditorFor(x => x.GroupId)
                            </div>
                            @Html.ValidationMessageFor(x => x.GroupId, null, htmlAttributes: new { @class = "col-lg-10" })
                        </div>

                        @if (User.IsAdmin()) { 
                            
                            @TextBoxGroup(x => x.AccountId)

                            <div class="form-group">
                                @Html.LabelFor(x => x.HasUserAccount, htmlAttributes: new { @class = "col-lg-2 control-label" })
                                <div class="col-lg-10">
                                    @Html.EditorFor(x => x.HasUserAccount)
                                </div>
                                @Html.ValidationMessageFor(x => x.HasUserAccount, null, htmlAttributes: new { @class = "col-lg-10" })
                            </div>
                        }

                        @if (!Model.Image.IsNullOrWhiteSpace())
                        {
                            <img src="@Model.Image" alt="@Model.Image.Split('/').Last()" style="float:right; max-width:@maxSize; max-height:@maxSize;" />
                        }
                        <div class="form-group">
                            @Html.LabelFor(x => x.ImageFile, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.ImageFile, new { type = "file" })
                                @Html.HiddenFor(x => x.Image)
                            </div>
                        </div>

                        @if (!Model.AccountId.IsNullOrWhiteSpace() && User.IsAdmin())
                        {
                            @Html.ActionLink("Edit account", "Edit", "Account", new { id=Model.AccountId, returnUrl = Request.Url.PathAndQuery }, null)
                        }
                        
                        @Html.SubmitBtn(Resource.Save)
                        @Html.ClearBtn(Resource.Clean)
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#GroupId").select2({
                placeholder: '@Resource.SelectGroup',
                width: 400
            });
        });
    </script>
}

@helper TextBoxGroup(Expression<Func<StudentViewModel, string>> selector, string type = "text")
{
    <div class="form-group">
        @Html.LabelFor(selector, htmlAttributes: new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(selector, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(selector)
        </div>
    </div>
}