@model AskGenerator.ViewModels.CreateStudentViewModel

@{
    ViewBag.Title = @Resources.Resource.EditStudent;
    var maxSize = "100px";
}

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Студент</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                @using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@Resources.Resource.EditStudent</legend>
                        @Html.HiddenFor(x => x.Student.Id)
                        <div class="form-group">
                            @Html.LabelFor(x => x.Student.FirstName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Student.FirstName, htmlAttributes: new { @clas = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Student.LastName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Student.LastName, htmlAttributes: new { @clas = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Student.Group, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.DropDownListFor(x => x.Student.Group.Id,
                                    new List<SelectListItem>(Model.Groups.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id })),
                                                                new { @class = "chzn-select", style = "width: 150px" })
                            </div>
                        </div>

                        @if(!Model.Student.Image.IsNullOrWhiteSpace()){
                            <img src="@Model.Student.Image" alt="@Model.Student.Image.Split('/').Last()" style ="float:right; max-width:@maxSize; max-height:@maxSize;"/>
                        }
                        <div class="form-group">
                            @Html.LabelFor(x => x.Student.ImageFile, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Student.ImageFile, new { type = "file"})
                                @Html.HiddenFor(x => x.Student.Image)
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">@Resources.Resource.Save</button>
                        <button type="reset" class="btn btn-default">@Resources.Resource.Clean</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Student_Group_Id").select2({
                placeholder: @Resources.Resource.SelectGroup,
                width: 400
            });
        });
    </script>
}