@model  IList<AskGenerator.ViewModels.StudentViewModel>

@{
    ViewBag.Title = @Resources.Resource.ListStudents;
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">
                <a href="@Url.Action("Create", "Student")">+ @Resources.Resource.AddStudent</a>
                <form class="inline" id="import" method="post" action="@Url.Action("Import")" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="file" name="file" />
                    <button class="btn btn-primary" type="submit" data-loading-text="Importing...">Import</button>
                </form>
            </div>
        </div>
        <div class="bootstrap-admin-panel-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Resources.Resource.FirstName</th>
                        <th>@Resources.Resource.LastName</th>
                        <th>@Resources.Resource.Group</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.OrderBy(x => x.FirstName))
                    {
                        <tr>
                            <td>@student.FirstName</td>
                            <td class="line-key">@student.LastName</td>
                            <td>@student.Group.Name</td>
                            <td>
                                <a class="btn btn-primary" style="float: left; margin-right: 10px;"  href="@Url.Action("Edit", "Student", new {id=student.Id}) ">Редактировать</a>
                                <a class="btn btn-danger delete" data-id="@student.Id" href="@Url.Action("Delete", new {id=student.Id})">@Resources.Resource.Remove</a
                            </td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(Pages.Students.initImport);
    </script>
}